.archive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
}
.archive-card {
    opacity: 0.7;
    transition: 0.2s;
    min-height: 15rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.archive-card:hover {
    opacity: 1;
    border-color: var(--primary);
}
.archive-card h3 {
    text-decoration: line-through;
    margin-bottom: 1rem;
    color: var(--text-muted);
}