.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    background: var(--bg-header);
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
}

.nav-btn {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 0.4rem;
}

.nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}

.day-name {
    text-align: center;
    color: var(--text-gray);
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.day {
    background: var(--note-bg);
    min-height: 10rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day:hover {
    background: var(--hover-bg-nav);
    transform: scale(1.02);
    z-index: 2;
}

.day.active {
    border: 2px solid var(--accent-color);
    background: rgba(179, 255, 0, 0.05);
    color: var(--accent-color);
    font-weight: bold;
}

.day.weekend {
    color: #ff6b6b;
}


.event-dot {
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--accent-color);
    border-radius: 50%;
    align-self: flex-end;
}

.day.empty {
    background: transparent;
    cursor: default;
    pointer-events: none;
}

@media (max-width: 768px) {
    .calendar-grid {
        gap: 2px;
    }

    .day {
        min-height: 6rem;
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    .day-name {
        font-size: 1.2rem;
    }

    .event-dot {
        width: 6px;
        height: 6px;
    }
}

@media (max-width: 480px) {
    .day {
        min-height: 5rem;
    }
}