.notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
}
.note-card {
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: border-color 0.2s;
}
.note-card:hover {
    border-color: var(--primary);
}
.note-card.create-new {
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--border);
    background-color: transparent;
    color: var(--text-muted);
}
.note-card.create-new i {
    font-size: 4rem;
    font-style: normal;
    margin-bottom: 1rem;
}
.note-card.create-new:hover {
    border-color: var(--primary);
    color: var(--primary);
}
.note-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.note-header h3 {
    font-size: 1.8rem;
    font-weight: 600;
}
.icon-btn {
    background: none;
    border: none;
    color: var(--text-muted);
    font-size: 2rem;
    cursor: pointer;
    padding: 0;
}
.icon-btn:hover {
    color: var(--text-main);
}
.note-body {
    flex-grow: 1;
    color: var(--text-muted);
    margin-bottom: 2rem;
    overflow: hidden;
    display: -webkit-box;
}
.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}