.trash-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.trash-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.trash-item span {
    color: var(--text-muted);
}